/* Font added */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
    margin: 0 !important;
    font-family: Raleway;
    background-color: #F5F8FF;
}

/* Shared style */
.text-primary {
    color: #4E47FF;
}

.text-dark {
    color: #252432;
}

.bg-primary {
    background-color: #F5F8FF;
}

.btn-primary {
    padding: 12px 36px;
    background-color: #4E47FF;
    color: #fff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: transparent;
    color: #4E47FF;
    border: 2px solid #4E47FF;
    transition-duration: 0.5s;
    cursor: pointer;
}
 
.section-title {
    color: #252432;
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
}

.br-48 {
    border-radius: 48px;
}
.text-center {
    text-align: center;
}

/* Header */

header {
    background-image: url('../images/hero-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block:50px ;
    margin: auto;
    max-width: 1140px;
}

.nav-title {
    margin: 0;
    font-family: Inter;
    font-size: 34px;
    font-weight: 900;
    line-height: 51px;
    text-transform: uppercase;
}

/* Banner styles */
.banner {
    padding-block: 158px 152px;
    text-align: center;
}

.banner-title {
    margin: 0;
    font-size: 65px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 37px;
}

/* Main styles */

main {
    margin: 0 auto;
    max-width: 1140px;
}

/* Live preview styles */
.live-preview {
    padding-block: 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    color: #252432;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.section-description {
    color: #25243280;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    max-width: 517px;
    margin-block: 23px;
}


/* Statistics styles */

.statistics {
    padding: 50px 80px;
    border-radius: 24px;
    background-color: #4E47FF1A;
    
}

.statistics-title {
    font-size: 38px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-block: 0 40px;
}

.statistics-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active-user, focus-sessions, satisfaction-rate  {
    text-align: center;
}

.user-number {
    color: #4E47FF;
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.user-title {
    color: #00000080;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

/* Clients review styles */
.clients-review {
    padding-block: 137px;
}

.review-card-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.review-card {
    padding: 24px;
    border-radius: 14px;
    background-color: #FFFFFF80;
    border:1px solid #F2EDED;
}

.ratings {
    display: flex;
    align-items: center;
}

.review-title {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: -0.48px;
    margin-block: 24px 8px;
}

.review-description {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin: 0;
}

.reviewer-profile {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 24px;
}

.reviewer-img {
    border-radius: 50%;
}

.author-name {
    color: #757575;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    margin: 0;
}

.review-date {
    color: #B3B3B3;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin: 0;
}

/* Free trial */

.free-trial {
    padding-block: 71px;
    border-radius: 14px;
    background: #FFF;
    text-align: center;
}

.free-trial-title {
    color: #000;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}

.free-trial-description {
    color: #00000080;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin-block: 20px;
}

.free-trial-banner {
    padding-top: 20px;
}